<section id="blog">
    <h2 class="subheader">blog</h2>
    <nav>
        <ul id="blog-list" class="side-nav item-list">
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
            <li class="item thought">
                <a href="#">
                    <div class="meta">Jan 23, 2014</div>
                    <div class="title">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</section><!--/#thoughts-->

